<footer>

	<div class="card text-center" style="background-color:#212529;">
		<div class="card-body text-center">
			<h3
				class="card-title"
				style="padding-bottom: 30px; padding-top: 20px; color: #1cc3b2;"
			>Special title treatment
			</h3>
			<p class="card-text" style="color: white;">With supporting text belio quos
				minus! Lorem ipsum dolor sit amet
				<br />
				consectetur adipisicing elit. Assumenda autem eaque perspiciatis
				mollitia molestiae numquam eos quidem aspernatur
				<br />
				earum delectus consequatur exercitationem, ad iusto suscipit veritatis
				ex a natural lead- to additional content.
			</p>
		</div>
		<div class="card-footer text-muted">
			copyright @2022
		</div>
	</div>

</footer>