<nav class="navbar navbar-expand-lg" style="background-color: #035347;">

    <div class="container-fluid">
      <div style="padding-right:50px;">
        <h1 style="color: #c9d0d0;"">MEDIC'S BAY</h1>
      </div>

      <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">

              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: #c9d0d0;" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Specialist
                </a>
                <ul class="dropdown-menu" style="background-color: #035347;">
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">Medicine</a></li>
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">Dermatologists</a></li>
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">Cardiologists</a></li>
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">Gastroenterologists</a></li>
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">Urologists</a></li>
                  <li><a class="dropdown-item fs-5" style="color: #7a7e7d;" href="#">DPsychiatrists</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">Contact us</a>
              </li>

            </ul>

            <ul class="justify-content-end navbar-nav fs-5" style="padding-right: 50px;">

              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: #c9d0d0;" aria-current="page" href="#">Log in</a>
              </li>

            </ul>

            <form class="d-flex" role="search fs-5">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" style="color: #c9d0d0;" type="submit">Search</button>
            </form>

          </div>
      </div>
  </nav>
