<html lang="en">
	<head>
		<title>Doctor's Profile</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{! Tailwindcss Cdn Link }}
		<script src="https://cdn.tailwindcss.com"></script>

		<title>Doctors Profile</title>
	</head>
	<body>
		<div class="md:ml-20 bg-gradient-to-b from-teal-200 to-teal-100">
			<div class="w-full mt-24">
				<div class="min-[10px]:ml-24 md:ml-0 md:relative p-3 md:flex">
					<div>
						<img
							class="ring-2 ring-black"
							src="https://thumbs.dreamstime.com/b/default-placeholder-doctor-half-length-portrait-photo-avatar-gray-color-default-placeholder-doctor-half-length-portrait-114321003.jpg"
							width="200"
							alt="Doctors image"
						/>
					</div>
					<div class="space-y-1 md:ml-8 md:space-y-5">
						<h1 class="mt-5 text-3xl">Doctor's Name</h1>
						<h2 class="">Short Qualifications</h2>
						<h3 class="italic font-semibold">Position in hospital</h3>
						<h4 class="text-lg">Department: Null</h4>
					</div>
					<div class="w-20 mt-4 md:absolute md:right-16 md:w-32 md:mt-6">
						<img
							src="https://i.pinimg.com/originals/21/13/31/2113312170c47428f4ce6b98a4392167.png"
							alt="Appointment"
							width="100%"
						/>
						<button
							class="text-xs md:h-14 w-full text-white md:font-bold rounded md:text-base bg-teal-400 hover:bg-teal-600"
						>Book Appointment</button>
					</div>
				</div>
			</div>
		</div>
		<div class="md:ml-20 md:mr-14 mt-10">
			<p class="py-5 font-medium">Desciptrion 1: Doctor example is a consultant
				in sit amet consectetur adipisicing elit. Ducimus esse saepe quasi,
				dicta rem nesciunt fugit enim in similique quas commodi dolorem
				consectetur error. Nihil provident sit consectetur maxime placeat!</p>
			<p class="font-medium">Desciptrion 2: He has past experience in this and
				that hospital elit. Praesentium atque enim distinctio soluta aut fuga
				dignissimos aliquam libero aspernatur? Optio mollitia culpa eius! Illum
				magnam, doloribus officiis aliquid veritatis quasi.</p>
			<p class="py-5 font-medium">Desciptrion 3: Doctor example currently sits
				in this hospital and is available in these current times. Lorem ipsum
				dolor sit amet, consectetur adipisicing elit. Ea sint quia vitae nisi
				voluptates dolorum obcaecati nihil libero repellendus itaque repellat,
				accusantium sunt esse est sapiente, ullam atque error. Mollitia!</p>
		</div>
	</body>
</html>