<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{! Bootstrap css cdn link }}
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>

		<title>Specialist</title>

	</head>



	<body style="background-color: #088875a1;">

{{>navbar}}

		<div style="padding-top: 30px; padding-bottom: 50px;">
			<h1 class="text-center">All Available Doctors</h1>
		</div>

{{#each psychiatrists}}

		<div
			style="display: flex;  justify-content: center;
  align-items: center;"
		>

			<div
				class="card mb-3"
				style="max-width: 800px; background-color: #c9d0d0;"
			>
				<div class="row g-0">
					<div class="col-md-4">
						<img src="/static/images/doctor.webp" class="img-fluid" alt="" />
					</div>
					<div class="col-md-8">
						<div class="card-body" style="padding-top: 70px;">
							<h5 class="card-title">Department: {{this.department}}</h5>
							<p class="card-text">{{this.description}}</p>
							<div class="d-grid gap-2 d-md-block">
								<a href="/appointment">
									<button
									style="background-color: #035347; color: #c9d0d0; border-radius: 6px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px;"
									type="button"
								>Set up an appointment</button>
								</a>
								<a href="/doctors-profile">
									<button
									style="background-color: #035347; color: #c9d0d0; border-radius: 6px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px; padding-left: 10px;"
									type="button"
								>View Doctor Profile</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		{{/each}}

        {{>footer}}

		{{! Bootstrap js cdn link }}
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"
		></script>

	</body>

</html>